[DEFAULT]
rootwrap_config = /etc/cinder/rootwrap.conf
api_paste_confg = /etc/cinder/api-paste.ini
iscsi_helper = lioadm
volume_name_template = volume-%s
verbose = True
state_path = /var/lib/cinder
volumes_dir = /var/lib/cinder/volumes

transport_url = rabbit://openstack:{{ rabbitmq_pass }}@{{ hostname_controller }}
auth_strategy = keystone
my_ip = {{ ansible_host }}
enabled_backends = lvm
glance_api_servers = http://{{ hostname_controller }}:9292

[lvm]
volume_driver = cinder.volume.drivers.lvm.LVMVolumeDriver
volume_group = cinder-volumes
target_protocol = iscsi
target_helper = tgtadm

[database]
connection = mysql+pymysql://cinder:{{ database_cinder_pass }}@{{ hostname_controller }}/cinder

[keystone_authtoken]
www_authenticate_uri = http://{{ hostname_controller }}:5000
auth_url = http://{{ hostname_controller }}:5000
memcached_servers = {{ hostname_controller }}:11211
auth_type = password
project_domain_name = default
user_domain_name = default
project_name = service
username = cinder
password = {{ openstack_cinder_pass }}

[oslo_concurrency]
lock_path = /var/lock/cinder
